{% extends "layout.html" %}
{% block content %}
    <!-- Large logo in the login page -->
    <img src="{{ url_for('static', filename='DONB.png') }}" alt="Large Logo" class="large-logo">

    <h2>Login</h2>
    <form method="POST" style="text-align: center;">
        <div class="form-group">
            Username: <input type="text" name="username" required><br>
            Password: <input type="password" name="password" required><br>
            <input type="submit" value="Login">
        </div>
    </form>
    
    <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
{% endblock %}
